# ESLint: A tool that analyzes JavaScript for syntactical, logical, and conventional issues based on an .eslintrc file. It defines what rules should be used to evaluate the code. This process of analyzing JavaScript is known as linting.

{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "react"
  ]
}
