/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.donate-button {
  background: blue;
}

a {
  background: #00adef;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  font-weight: 300;
  font-size: 23px;
  padding: 11px;
  letter-spacing: 0.5px;

}

figure {
  box-shadow: 0 16px 15px 6px rgba(1,6,2,0.25);
  opacity: 1;
}

.middle-container {
  text-align: center;
  background: #E5EEF1;
  padding-bottom: 30px;
}

.blue-font {
  color: #00adef;
  font-weight: 600;
}

footer {
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}
