/* =================================
  Reset CSS
==================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================================
  Element Styles
==================================== */

body {
  font-family: sans-serif;
  margin: 0 auto;
  /* width: 100%; */
  max-width: 510px;
  min-width: 509px;
}
header {
  text-align: center;
}
img.logo {
  /* width: 100%; */
  margin-top: 33px;
}
h1 {
  letter-spacing: 0.03em;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 600;
  padding: 27px 0 18px 0;
}
#banner-container {
  margin-bottom: 55px;
}
#banner-img {
  box-shadow: 0 16px 15px 6px rgba(1,6,2,0.25);
}
.donate-container {
  text-align: center;
  margin: 50px 0;
}
.donate-button {
  background: #00adef;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  padding: 11px 25px;
  letter-spacing: 1.5px;
}
p {
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
.blue-font {
  color: #00adef;
}
.middle-container {
  background: #E5EEF1;
  padding-bottom: 38px;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 1.6em;
  padding: 25px;
  letter-spacing: 1px;
  line-height: 1.3em;
}
#nathalie-img {
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
}
img.signature {
  margin-top: 10px;
}
.box {
  float: left;
  margin: 0 auto;
}
p.author-info {
 margin: 0;
}
.right-box {
  padding-left: 30px;
}
.icons {
  background: #DEDBDA;
  text-align: center;
}
span {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}
footer {
  background: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 10px 0;
}
footer p {
  font-size: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}
footer p #phone-number {
  text-decoration: none;
  color: white;
}
footer a {
  color: white;
}
.donate-cont {
  margin: 50px 0;
}

/*
.bottom-container {
  display: flex;

}

.bottom-container img {
  object-fit: none;
}



/* =================================
  Media Queries
==================================== */
