<h1>Create CampervanRentalRequests</h1>

<form action="index.html" method="post">
  <select name="">
    <option disabled selected value="">--SELECT CAMPERVAN--</option>
    <option value="">Thundercat</option>
    <!-- <%# @campervans.each do |campervan| %>
      <option value="<%#= campervan.name %>"><%#= campervan.name %></option>
    <%# end %> -->
  </select>
  <label for="start_date">Start Date</label>
  <input type="date" name="date" value="Start Date">

  <label for="end_date">End Date</label>
    <input type="date" name="date" value="End Date">


  <button type="button" name="button">APPROVE</button>
  <button type="button" name="button">DENY</button>
</form>
