<h1>Create CampervanRentalRequests</h1>

<form action="<%= campervan_rental_requests_url %>" method="post">
  <select name="">
    <option disabled selected value="">--SELECT CAMPERVAN--</option>
    <% Campervan.all.each do |campervan| %>
      <option value="<%= campervan.id %>"><%= campervan.id %></option>
    <% end %>
  </select>
  <label for="start_date">Start Date</label>
  <input type="date" name="campervan_rental_request[start_date]" value="Start Date">

  <label for="end_date">End Date</label>
    <input type="date" name="campervan_rental_request[end_date]" value="End Date">

    <input type="submit" name="" value="Submit">
</form>
