<main id="root">
    <div class="load-error">
        <h3>Whoops, there seems to be a problem loading this page.</h3>
        <h3>Please contact gevuong18@gmail.com</h3>
        <div className="main-content not-found">
          <i id="not-found-icon" className="material-icons icn-error" >error_outline</i>
          <h2>404 Error: Page Not Found</h2>
          <h3>Click <link href="/">Here</link> to return Home</h3>
        </div>
    </div>
</main>
