<h2>Campervans available</h2>

<!-- Do not need specify _campervan when rendering partial template. Assign local variable, campervans, to @campervans -->

<ul>
  <%= render @campervans %>
</ul>

<!--
  ... is equivalent to:
  <ul>
    <% @campervans.each do |campervan| %>
    <%#= render campervan %>
    <% end %>
  </ul>
-->

<!--
  ... and is equivalent to:
  <ul>
    <%#= render 'campervan', campervan: campervan %>
  </ul>
-->

<%= link_to "Add Campervan!", new_campervan_url %>
<!-- equivalent to above code
<a href="<%= new_campervan_url %>">Add a campervan</a> -->
