@import 'api/fetches.scss';

// get all children divs inside parent div.
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;
    background: #f8fdf3;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: .35em;
    background: #fcfcfc;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0,0,0, .13);
}

header {
    text-align: center;
    height: 390px;
    padding: 2.5em 1em 1em;

    // background: linear-gradient(90deg, #d4eece, #d4eece, #d4eece),
    //           url('images/header.jpg') no-repeat;
    //           background-blend-mode: multiply;
    //           background-size: cover;
    background: url('images/nature.jpg') no-repeat;
              background-blend-mode: multiply;
              background-size: cover;
    background-position: 0 -95px;
}

header input {
    padding: 12px;
    font-size: 1.15em;
    width: 60%;
    margin: 3em auto 0;
}

h2 {
    font-family: 'Courgette';
    font-size: 1.8em;
    text-shadow: 0 1px 0 rgba(0,0,0, .4);
    line-height: .65;
    margin-top: 0.4em;
    margin-bottom: 0;
    color: white;
}

p {
    font-size: 1.1em;
    text-shadow: 0 1px 0 rgba(0,0,0, .25);
    color: white;
}


.load-error {
    text-align: center;
    padding: 1em 2em;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue";
    font-size: 18px;
}

// ul {
//   list-style: none;
//   padding: 0;
//   margin: 2em 0 1em;
// }
//
// ul li {
//   padding: 1em;
//   background: #fff;
//   border-radius: .2em;
//   border: solid 1px rgba(88, 183, 205, .2);
//   border-bottom: solid 2px rgba(88, 183, 205, .2);
//   position: relative;
// }

div > p {
  color: #767676;
}

.main {
    font-family: sans-serif;
    margin: auto;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    background: lightblue;
    color: gray;
}

li {
    cursor: pointer;
}


/* =================================
  CSS Transition
==================================== */
.auto-enter {
    opacity: 0.01;
    transform: translateY(500%);
}

.auto-enter.auto-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.auto-leave {
    opacity: 1;
    transform: translateY(0);
}

.auto-leave.auto-leave-active {
    opacity: 0.01;
    transform: translateY(500%);
    transition: opacity 500ms, transform 500ms;
}
