.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.pagination-bar {
    display: flex;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;

    li {
        list-style: none;
        padding: 8px 12px;
        border: 1px solid #ddd;
        cursor: pointer;
    }
    li:hover, li.active {
        background: #000066;
        color: #fff;
        border: 1px solid #ddd;
    }
}
.page-number {
  font-family: 'Quicksand', sans-serif;
}
.fa:hover {
  color: #fff;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.inactive {
  pointer-events: none;
}
