/* PHASE 1: Header */

/*selector {
    property: value
}*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #eee;
  font-weight: 400;
}

.header {
  background: #f00; /* red */
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  border-right: 1px solid #ccc;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.header-logo:hover {
  background: #000;
}

.header-list {
  display: flex;
}

.header-list > li {   /* selects all <li> that are direct children of <ul> */
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background-color: #000;
}
