body {
  display: flex;
  justify-content: space-around;
  background: darkgray;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.player.local canvas {
  border-color: #fff;
}

canvas {
  border: solid 0.2em gray;
  height: 90vh;
}

.score, .row-count {
  font-size: 0.75em;
}
